@import "tailwindcss";
@import 'tailwind-scrollbar-hide/v4';

@theme {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --color-accent: #69d4ff;

  --text-size-100: 1rem;
  --text-size-200: 1.2rem;
  --text-size-300: 1.5rem;
  --text-size-400: 2.5rem;
  --text-size-600: 5rem;
  --text-size-900: 8rem;

  --font-bodoni: var(--font-bodoni), serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  box-sizing: border-box;
  background: var(--background);
  color: var(--foreground);
}

@layer components {
  #hero {
    @apply relative min-h-dvh w-full overflow-hidden;

    .text-title {
      @apply text-size-600 md:text-size-900 leading-none;
    }

    .text-subtitle {
      @apply text-size-400 top-0;
    }

    video {
      @apply w-full object-bottom object-cover md:object-contain;
    }
  }
}