@import "tailwindcss";
@import 'tailwind-scrollbar-hide/v4';

@theme {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --color-primary: #69d4ff;
  --color-secondary: #ff5400;
  --color-tertiary: #7b2cbf;

  --text-size-100: 1rem;
  --text-size-200: 1.2rem;
  --text-size-300: 1.5rem;
  --text-size-400: 2rem;
  --text-size-500: 2.5rem;
  --text-size-600: 4rem;
  --text-size-900: 8rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--background);
  color: var(--foreground);
}